<template>
  <Page actionBarHidden="true" :class="{ dialogOpen: dialogOpen }">
    <GridLayout class="main-loading-container">
      <ScrollView>
        <GridLayout v-if="!isLoading" class="main-container">
          <StackLayout orientation="vertical" @tap="dialogOutsideClick()">
            <GridLayout
              rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto"
            >
              <Image
                row="0"
                :src="backIcon"
                class="back-icon"
                :height="backIconDimension"
                :width="backIconDimension"
                :marginTop="marginTopDimension"
                @tap="this.$navigateBack"
              ></Image>
              <Image row="0" :src="appLogo" class="app-logo" :marginTop="marginTopDimension"></Image>
              <Label row="1" :text="appName" :marginBottom="marginBottomDimension" class="app-name"></Label>
              <Label
                row="2"
                class="input-hint"
                :marginTop="marginTopDimension"
                :text="blogNameHint"
              ></Label>
              <TextField
                row="3"
                class="input"
                :text="blogNameText"
                :padding="comPadding"
                @textChange="onBlogNameChanged($event)"
                returnKeyType="next"
              ></TextField>
              <Label
                row="4"
                class="input-hint"
                :marginTop="marginTopDimension"
                :text="blogTitleHint"
              ></Label>
              <TextField
                row="5"
                class="input"
                :text="blogTitleText"
                :padding="comPadding"
                @textChange="onBlogTitleChanged($event)"
                returnKeyType="next"
              ></TextField>
              <Label
                row="6"
                class="input-hint"
                :marginTop="marginTopDimension"
                :text="blogAuthorHint"
              ></Label>
              <TextField
                row="7"
                class="input"
                :text="blogAuthorText"
                :padding="comPadding"
                @textChange="onBlogAuthorChanged($event)"
                returnKeyType="next"
              ></TextField>

              <Label
                row="8"
                class="input-hint"
                :marginTop="marginTopDimension"
                :text="blogContentHint"
              ></Label>
              <TextView
                row="9"
                class="input-content"
                textWrap="true"
                :text="blogContentText"
                :padding="comPadding"
                @textChange="onBlogContentChanged($event)"
                returnKeyType="done"
              ></TextView>
              <Label
                row="10"
                class="input-hint"
                :marginTop="marginTopDimension"
                :text="blogImageHint"
              ></Label>
              <GridLayout row="11" class="image-container">
                <GridLayout :height="imageDimension">
                  <Image
                    class="blog-image"
                    :width="imageDimension-15"
                    :height="imageDimension-15"
                    :src="blogImage"
                  ></Image>
                  <Button
                    v-if="isImageSelected"
                    class="cross-button"
                    :marginLeft="(imageDimension-30)"
                    @tap="onCrossTap()"
                  ></Button>
                </GridLayout>
                <Button col="1" class="add-image-button" :text="addImageButton" @tap="onAddImage()"></Button>
              </GridLayout>
              <Button
                row="12"
                class="blog-button"
                :marginTop="marginTopDimension"
                :marginBottom="marginBottomDimension"
                :text="addNewButton"
                @tap="onAddNewBlog()"
              ></Button>
              <Button
                row="13"
                class="blog-button"
                :marginBottom="marginBottomDimension"
                :text="addCloseButton"
                @tap="onAddCloseBlog()"
              ></Button>
            </GridLayout>
          </StackLayout>
        </GridLayout>
      </ScrollView>
      <GridLayout v-if="isLoading" class="main-loading-container">
        <ActivityIndicator class="main-loading" :busy="isLoading"></ActivityIndicator>
      </GridLayout>
      <GridLayout v-if="dialogOpen" class="dialog-wrapper">
        <StackLayout class="dialog">
          <StackLayout
            :width="dialogWidth"
            :height="dialogHeight"
            class="dialog-content-container"
            orientation="vertical"
          >
            <Button class="gallery-button" :text="galleryButton" @tap="onGallery()"></Button>
            <Button class="gallery-button" :text="cameraButton" @tap="onCamera()"></Button>
          </StackLayout>
        </StackLayout>
      </GridLayout>
    </GridLayout>
  </Page>
</template>

<script lang="ts">
import ReadBlogs from "./ReadBlogs.vue";
import ListBlogs from "./ListBlogs.vue";
import { TextField } from "tns-core-modules/ui/text-field";
import { Constants } from "@/shared/constants";
import { JSONFileSystemService } from "@/shared/services/JSONFileSystemService";
import { ScreenDimensions } from "@/shared/ScreenDimensions";
import * as imagepicker from "nativescript-imagepicker";
import * as fs from "tns-core-modules/file-system";
import * as camera from "nativescript-camera";
import * as permissions from "nativescript-permissions";
import {
  ImageSource,
  fromFile
} from "tns-core-modules/image-source/image-source";
import { ImageAsset } from "tns-core-modules/image-asset/image-asset";
import { Folder, File, FileSystemEntity } from "tns-core-modules/file-system";
import { isAndroid } from "tns-core-modules/ui/frame/frame";
import { setValue, storage, push } from "nativescript-plugin-firebase";

export default {
  data() {
    return {
      listBlog: "List blog",
      readBlog: "Read blog",
      backIcon: "res://back_arrow_white",
      appLogo: "res://logo",
      appName: "Let's Blog",
      blogNameHint: "Blog name",
      blogTitleHint: "Blog title",
      blogAuthorHint: "Blog author",
      blogContentHint: "Blog content",
      blogImageHint: "Blog image",
      addNewButton: "Add and New",
      addCloseButton: "Add and Close",
      blogNameText: "",
      blogTitleText: "",
      blogAuthorText: "",
      blogContentText: "",
      blogImagePath: "",
      blogImage: "res://add_image",
      imageDimension: 0,
      addImageButton: "Add image",
      dialogOpen: Boolean,
      dialogDimension: 0,
      marginTopDimension: 0,
      marginBottomDimension: 0,
      backIconDimension: 0,
      galleryButton: "Gallery",
      cameraButton: "Camera",
      isLoading: false,
      comPadding: 5,
      isImageSelected: false,
      file: null,
      filename: "",
      arr: "abcdefghijklmnopqrstuvwxyz0123456789"
    };
  },

  methods: {
    onAddNewBlog() {
      if (
        this.blogNameText == "" ||
        this.blogTitleText == "" ||
        this.blogAuthorText == "" ||
        this.blogContentText == ""
      ) {
        alert("Please fill all the fields.");
      } else {

        let blog = {
          name: this.blogNameText,
          title: this.blogTitleText,
          author: this.blogAuthorText,
          content: this.blogContentText,
          image: this.blogImagePath,
          id: this.randomStr(15, this.arr)
        };

        JSONFileSystemService.appendToJSON(Constants.JSON_FILE_PATH, blog).then(
          res => {
            this.blogNameText = "";
            this.blogTitleText = "";
            this.blogAuthorText = "";
            this.blogContentText = "";
            this.blogImage = "res://add_image";
            console.log("Saved");
          },
          error => {
            console.log("Could not save::", error);
            alert("Could not save, Please try again");
          }
        );
      }
    },
    onAddCloseBlog() {
      if (
        this.blogNameText == "" ||
        this.blogTitleText == "" ||
        this.blogAuthorText == "" ||
        this.blogContentText == ""
      ) {
        alert("Please fill all the fields.");
      } else {

        let blog = {
          name: this.blogNameText,
          title: this.blogTitleText,
          author: this.blogAuthorText,
          content: this.blogContentText,
          image: this.blogImagePath,
          id: this.randomStr(15, this.arr)
        };

        JSONFileSystemService.appendToJSON(Constants.JSON_FILE_PATH, blog).then(
          res => {
            this.$navigateBack();
            console.log("Saved");
          },
          error => {
            console.log("Could not save::", error);
            alert("Could not save, Please try again");
          }
        );
      }
    },
    onBlogNameChanged(args: any) {
      var textField = <TextField>args.object;
      this.blogNameText = textField.text;
    },
    onBlogTitleChanged(args: any) {
      var textField = <TextField>args.object;
      this.blogTitleText = textField.text;
    },
    onBlogAuthorChanged(args: any) {
      var textField = <TextField>args.object;
      this.blogAuthorText = textField.text;
    },
    onBlogContentChanged(args: any) {
      var textField = <TextField>args.object;
      this.blogContentText = textField.text;
    },
    onAddImage() {
      this.dialogOpen = true;
    },
    onGallery() {
      this.dialogOpen = false;
      this.isLoading = true;
      var that = this;
      let context = imagepicker.create({
        mode: "single"
      });
      context
        .authorize()
        .then(() => {
          return context.present();
        })
        .then(selection => {
          selection.forEach((selected: ImageAsset) => {
            var imageSource = new ImageSource();

            imageSource.fromAsset(selected).then(source => {
              this.setUpImage(source);
            });
          });
          this.isLoading = false;
        })
        .catch(err => {
          console.log("Error -> " + err.message);
          this.isLoading = false;
        });
    },
    setUpImage(imageSource: ImageSource) {
      this.blogImage = null;

      setTimeout(() => {
        this.blogImage = imageSource;
      }, 10);

      let documents = fs.knownFolders.currentApp();
      let imageAssetFolder = Folder.fromPath(
        fs.path.join(documents.path, "assets/images")
      );
      var date = new Date();

      var filename =
        "NS_" +
        date.getFullYear() +
        "" +
        date.getMonth() +
        "" +
        date.getDate() +
        "" +
        date.getHours() +
        "" +
        date.getMinutes() +
        "" +
        date.getSeconds() +
        "" +
        date.getMilliseconds();

      let file = File.fromPath(
        fs.path.join(imageAssetFolder.path, filename + ".png")
      );

      let saved = imageSource.saveToFile(file.path, "png");

      this.isImageSelected = true;

      if (saved) {
        this.file = file;
        this.filename = filename;
        this.blogImagePath = this.file.path;
        this.blogImage = this.file.path;
      } else {
        this.file = null;
        this.filename = "";
        this.blogImagePath = "";
        this.blogImage = "res://add_image";
        this.isImageSelected = false;
        console.log("Could not save the image locally");
      }
    },
    onCamera() {
      this.dialogOpen = false;

      if (isAndroid) {
        permissions
          .requestPermission([
            android.Manifest.permission.CAMERA,
            android.Manifest.permission.WRITE_EXTERNAL_STORAGE
          ])
          .then(
            () => {
              this.clickImage();
            },
            rejected => {
              console.log("Error -> " + rejected.message);
            }
          );
      } else {
        camera.requestCameraPermissions().then(
          () => {
            this.clickImage();
          },
          rejected => {
            console.log("Error -> " + rejected.message);
          }
        );
      }
    },
    clickImage() {
      if (camera.isAvailable()) {
        var that = this;
        camera
          .takePicture({ width: 512, height: 512, keepAspectRatio: true })
          .then((selected: ImageAsset) => {
            ImageSource.fromAsset(selected).then(source => {
              this.setUpImage(source);
            });
          })
          .catch(err => {
            console.log("Error -> " + err.message);
          });
      }
    },
    dialogOutsideClick() {
      this.dialogOpen = false;
    },
    randomStr(len, arr) {
      var ans = "";
      for (var i = len; i > 0; i--) {
        ans += arr[Math.floor(Math.random() * arr.length)];
      }
      return ans;
    },
    onCrossTap() {
      this.blogImagePath = "";
      this.blogImage = "res://add_image";
      this.isImageSelected = false;
    }
  },
  created() {
    this.imageDimension = ScreenDimensions.getwidth(40);
    this.dialogWidth = ScreenDimensions.getwidth(40);
    this.dialogHeight = ScreenDimensions.getwidth(30);
    this.marginTopDimension = ScreenDimensions.getheight(2);
    this.marginBottomDimension = ScreenDimensions.getheight(1);
    this.backIconDimension = ScreenDimensions.getwidth(5);
    this.dialogOpen = false;
  }
};
</script>

<style scoped>
.main-container {
  height: auto;
  background: linear-gradient(#53ba82, #000000);
}

.main-loading-container {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.main-loading {
  color: #53ba82;
  vertical-align: middle;
  horizontal-align: center;
}

.back-icon {
  horizontal-align: left;
  vertical-align: top;
  margin-left: 5%;
}

.app-logo {
  width: 25%;
  horizontal-align: center;
}

.app-name {
  font-size: 18%;
  color: #f7f7f7;
  font-weight: 500;
  text-align: center;
}

.input-hint {
  width: 90%;
  font-size: 14%;
  color: #f7f7f7;
}

.input {
  width: 90%;
  height: 35;
  border-width: 1;
  border-color: #eeeeee;
  border-radius: 5;
  color: #53ba82;
  text-align: left;
  background-color: #f7f7f7;
  font-size: 14%;
}

.input-content {
  width: 90%;
  height: auto;
  border-width: 1;
  border-color: #eeeeee;
  border-radius: 5;
  color: #53ba82;
  text-align: left;
  padding: 0 10 0 10;
  background-color: #f7f7f7;
  font-size: 14%;
}

.image-container {
  width: 90%;
  height: auto;
}

.blog-image {
  vertical-align: middle;
  horizontal-align: left;
}

.cross-button {
  background-color: transparent;
  height: 25;
  width: 25;
  background-image: url("res://cross");
  background-position: center;
  background-size: contain;
  vertical-align: top;
  horizontal-align: left;
}

.cross-button:active {
  background-color: gray;
}

.add-image-button {
  width: 40%;
  height: 35;
  padding: 0;
  border-radius: 5;
  color: #000000;
  background-color: #f7f7f7;
  font-size: 14%;
  font-weight: 500;
  margin-left: 10%;
  android-elevation: 5;
  horizontal-align: right;
}

.add-image-button:highlighted {
  background-color: #53ba82;
  color: #f7f7f7;
}

.blog-button {
  width: 55%;
  height: 35;
  background-color: #53ba82;
  font-size: 14%;
  font-weight: 500;
  padding: 0;
  border-radius: 5;
  color: #f7f7f7;
  android-elevation: 5;
}

.blog-button:highlighted {
  background-color: #f7f7f7;
  color: #53ba82;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialogOpen .content,
.dialogOpen .action-bar {
  opacity: 0.2;
}

.dialogOpen .dialog-wrapper {
  visibility: visible;
  animation-name: show;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.dialog-wrapper {
  visibility: collapse;
  opacity: 0.1;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.dialog {
  background-color: transparent;
  width: 100%;
  height: 100%;
  horizontal-align: center;
  vertical-align: middle;
}

.dialog-content-container {
  background-color: #53ba82;
  border-radius: 5;
  border-width: 1;
  border-color: #000000;
}

.gallery-button {
  width: 80%;
  height: 30%;
  padding: 0;
  border-radius: 5;
  color: #53ba82;
  background-color: #f7f7f7;
  font-size: 14%;
  font-weight: 500;
  android-elevation: 5;
  margin-top: 13%;
}

.gallery-button:highlighted {
  background-color: #000000;
  color: #f7f7f7;
}
</style>
