<template>
  <Page actionBarHidden="true" @loaded="onPageLoaded()">
    <GridLayout class="main-container" rows="auto,auto,auto,*">
      <Image row="0" :src="appLogo" class="app-logo"></Image>
      <Button
        row="0"
        class="btn logout"
        :width="sideDimension"
        :height="sideDimension"
        @tap="onLogout()"
      ></Button>
      <Button
        row="0"
        class="btn reload"
        :width="sideDimension"
        :height="sideDimension"
        :marginRight="sideDimension+20"
        @tap="reload()"
      ></Button>
      <Label row="1" :text="appName" class="app-name"></Label>
      <Button
        row="2"
        :class="addButtonClass"
        :marginTop="marginTopDimension"
        :marginBottom="marginBottomDimension"
        :text="addBlog"
        @tap="onAddBlog()"
      ></Button>
      <RadListView
        class="blogs-list-container"
        row="3"
        for="(item,index) in blogs"
        :gridSpanCount="gridSpanCount"
        layout="staggered"
      >
        <v-template>
          <StackLayout class="blog-name-button-container">
            <Button
              class="blog-name-button"
              :marginTop="marginTopDimension"
              textWrap="true"
              :text="item.name"
              @tap="onBlog(index)"
            ></Button>
          </StackLayout>
        </v-template>
      </RadListView>
    </GridLayout>
  </Page>
</template>

<script lang="ts">
import LoginVue from "./Login.vue";
import AddBlogs from "./AddBlogs.vue";
import ReadBlogs from "./ReadBlogs.vue";
import { Constants } from "@/shared/constants";
import { JSONFileSystemService } from "@/shared/services/JSONFileSystemService";
import { ScreenDimensions } from "@/shared/ScreenDimensions";
import {
  getValue,
  storage,
  init,
  logout,
  setValue
} from "nativescript-plugin-firebase";
import { FirebaseSync } from "../shared/services/firebase-sync.service";
import { Values } from "@/shared/values";

export default {
  data() {
    return {
      readBlog: "Read blog",
      addBlog: "Add blog",
      appLogo: "res://logo",
      appName: "Let's Blog",
      addButtonClass: "blog-button",
      gridSpanCount: 1,
      blogs: [],
      blogsToSync: [],
      marginTopDimension: 0,
      marginBottomDimension: 0,
      sideDimension: 0,
      intialNavigation: true
    };
  },
  methods: {
    onPageLoaded() {
      if (Constants.IS_ADMIN) {
        this.addButtonClass = "blog-button-admin";
        console.log("IS_ADMIN");
      } else {
        this.addButtonClass = "blog-button";
      }

      if (Constants.hasLocal) {
        this.blogs = [];
        JSONFileSystemService.readJSON(Constants.JSON_FILE_PATH).then(
          contentObj => {
            var blogs = contentObj["blogs"].body;

            Constants.BLOG_LIST = blogs;
            this.blogs = blogs;
            if (this.blogs && this.blogs.length > 0) {
              for (var i = 0; i < this.blogs.length; i++) {
                var alreadyExists = false;
                if (this.blogs[i].id) {
                  for (var j = 0; j < FirebaseSync.BLOGS_TO_SYNC.length; j++) {
                    if (FirebaseSync.BLOGS_TO_SYNC[j].id == this.blogs[i].id) {
                      alreadyExists = true;
                      break;
                    }
                  }
                  if (!alreadyExists) {
                    for (var k = 0; k < FirebaseSync.SYNCED_BLOGS.length; k++) {
                      if (FirebaseSync.SYNCED_BLOGS[k].id == this.blogs[i].id) {
                        alreadyExists = true;
                        break;
                      }
                    }
                  }
                  if (!alreadyExists) {
                    FirebaseSync.BLOGS_TO_SYNC.push(this.blogs[i]);
                  }
                }
              }
            }
            if (FirebaseSync.BLOGS_TO_SYNC.length > 0) {
              FirebaseSync.checkAndSync();
            }
          },
          error => {
            console.log("Could not read json:::", error);
          }
        );
      } else {
        getValue("/blogs").then(
          blogs => {
            this.blogs = [];

            for (let prop in blogs.value) {
              this.blogs.push(blogs.value[prop]);
            }
            var contentObj = {
              blogs: {
                body: this.blogs
              }
            };

            Constants.BLOG_LIST = this.blogs;
            JSONFileSystemService.writeJSON(
              Constants.JSON_FILE_PATH,
              JSON.stringify(contentObj)
            );
            this.intialNavigation = false;
          },
          error => {
            this.blogs = [];
            console.log(
              "Could not get blogs from server: " + JSON.stringify(error)
            );

            var contentObj = JSONFileSystemService.readJSON(
              Constants.JSON_FILE_PATH
            ).then(
              contentObj => {
                var blogs = contentObj["blogs"].body;
                Constants.BLOG_LIST = blogs;
                this.blogs = blogs;
              },
              error => {
                console.log("Could not read JSON:::", error);
              }
            );

            this.intialNavigation = false;
          }
        );
      }
    },
    onAddBlog() {
      if (Constants.IS_ADMIN) {
        Constants.hasLocal = true;
        this.$navigateTo(AddBlogs);
      }
    },
    onBlog(index: any) {
      Constants.hasLocal = true;
      this.$navigateTo(ReadBlogs, {
        props: {
          index: index
        }
      });
    },
    reload() {
      this.blogs = [];
      getValue("/blogs").then(
        blogs => {
          for (let prop in blogs.value) {
            this.blogs.push(blogs.value[prop]);
          }

          if (FirebaseSync.BLOGS_TO_SYNC.length > 0) {
            for (var i = 0; i < FirebaseSync.BLOGS_TO_SYNC.length; i++) {
              this.blogs.push(FirebaseSync.BLOGS_TO_SYNC[i]);
            }
          }

          var contentObj = {
            blogs: {
              body: this.blogs
            }
          };

          Constants.BLOG_LIST = this.blogs;
          JSONFileSystemService.writeJSON(
            Constants.JSON_FILE_PATH,
            JSON.stringify(contentObj)
          );
          Constants.hasLocal = true;
        },
        error => {
          console.log(
            "Could not get blogs from server: " + JSON.stringify(error)
          );

          var contentObj = JSONFileSystemService.readJSON(
            Constants.JSON_FILE_PATH
          ).then(
            contentObj => {
              var blogs = <Array<any>>contentObj["blogs"].body;
              Constants.BLOG_LIST = blogs;
              this.blogs = blogs;
            },
            error => {
              console.log("Could not read JSON:::", error);
            }
          );
        }
      );
    },
    onLogout() {
      logout().then(
        () => {
          Values.writeString(Values.USER, "");
          Constants.hasLocal = false;
          if (Constants.IS_ADMIN) {
            Constants.IS_ADMIN = false;
          }
          this.$navigateTo(LoginVue, {
            clearHistory: true
          });
        },
        error => {
          console.log("Could not logout:::", error);
        }
      );
    }
  },
  created() {
    init({
      persist: true,
      storageBucket: Constants.STORAGE_BUCKET_PATH,
      iOSEmulatorFlush: true
    });

    this.marginTopDimension = ScreenDimensions.getheight(1);
    this.marginBottomDimension = ScreenDimensions.getheight(1);
    this.sideDimension = ScreenDimensions.getwidth(8);

    this.blogs = [];
    getValue("/blogs").then(
      blogs => {
        for (let prop in blogs.value) {
          this.blogs.push(blogs.value[prop]);
        }
        var contentObj = {
          blogs: {
            body: this.blogs
          }
        };

        Constants.BLOG_LIST = this.blogs;
        JSONFileSystemService.writeJSON(
          Constants.JSON_FILE_PATH,
          JSON.stringify(contentObj)
        );
        this.intialNavigation = false;
      },
      error => {
        console.log(
          "Could not get blogs from server: " + JSON.stringify(error)
        );

        var contentObj = JSONFileSystemService.readJSON(
          Constants.JSON_FILE_PATH
        ).then(
          contentObj => {
            var blogs = <Array<any>>contentObj["blogs"].body;
            Constants.BLOG_LIST = blogs;
          },
          error => {
            console.log("Could not read JSON:::", error);
          }
        );

        this.intialNavigation = false;
      }
    );
  }
};
</script>

<style scoped>
.main-container {
  height: 100%;
  background: linear-gradient(#53ba82, #000000);
}

.app-logo {
  width: 25%;
  margin-top: 2%;
}

.app-name {
  font-size: 18%;
  color: #f7f7f7;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1%;
}

.btn {
  horizontal-align: right;
  vertical-align: top;
  background-color: transparent;
  /* background-image: url("res://logout"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  android-elevation: 0;
  android-dynamic-elevation-offset: 0;
}

.btn:active {
  background-color: gray;
}

.logout {
  background-image: url("res://logout");
}

.reload {
  background-image: url("res://refresh");
}

.blog-button-admin {
  width: 55%;
  height: 35;
  background-color: #f7f7f7;
  font-size: 14%;
  font-weight: 500;
  padding: 0;
  border-radius: 5;
  color: #000000;
  android-elevation: 5;
}

.blog-button-admin:highlighted {
  background-color: #53ba82;
  color: #f7f7f7;
}

.blog-button {
  width: 55%;
  height: 35;
  background-color: transparent;
  color: transparent;
  font-size: 14%;
  font-weight: 500;
  padding: 0;
  border-radius: 5;
  border-width: 0.1;
  border-color: transparent;
  android-elevation: 0;
  android-dynamic-elevation-offset: 0;
}

.blogs-list-container {
  width: 100%;
  margin-top: 2%;
}

.blog-name-button-container {
  width: 100%;
  horizontal-align: center;
}

.blog-name-button {
  width: 90%;
  height: auto;
  background-color: #53ba82;
  font-size: 16%;
  font-weight: 500;
  padding: 0;
  border-radius: 5;
  color: #f7f7f7;
  android-elevation: 5;
}

.blog-name-button:active {
  background-color: #c2aeae;
  color: #53ba82;
}
</style>
