<template>
  <Page actionBarHidden="true">
    <GridLayout class="main-container">
      <GridLayout verticalAlignment="top" rows="auto,auto,auto,auto,auto,auto,auto,auto">
        <Image row="0" :src="appLogo" class="app-logo"></Image>
        <Label row="1" :text="appName" class="app-name"></Label>
        <Label row="2" class="input-hint" :text="emailHint"></Label>
        <TextField
          row="3"
          class="input"
          :padding="comPadding"
          @textChange="onEmailTextChange($event)"
          returnKeyType="next"
        ></TextField>
        <Label row="4" class="input-hint" :text="passwordHint"></Label>
        <TextField
          row="5"
          class="input"
          :padding="comPadding"
          @textChange="onPasswordTextChange($event)"
          secure="true"
          returnKeyType="done"
        ></TextField>
        <Button class="btn" row="6" :text="buttonTextLogin" @tap="onSignInWithEmail()"></Button>
        <Button class="btn" row="7" :text="buttonTextRegister" @tap="register()"></Button>
      </GridLayout>
      <GridLayout v-if="isLoading" class="main-loading-container">
        <ActivityIndicator class="main-loading" :busy="isLoading"></ActivityIndicator>
      </GridLayout>
    </GridLayout>
  </Page>
</template>

<script lang="ts">
import ListBlogs from "./ListBlogs.vue";
import { ScreenDimensions } from "@/shared/ScreenDimensions";
import {
  login,
  LoginType,
  init,
  createUser,
  push,
  getValue,
  setValue
} from "nativescript-plugin-firebase/firebase";
import { TextField } from "tns-core-modules/ui/text-field/text-field";
import { Constants } from "@/shared/constants";
import { Values } from "../shared/values";
import { FirebaseSync } from "@/shared/services/firebase-sync.service";

declare var FIRDatabase: any;

export default {
  data() {
    return {
      appLogo: "res://logo",
      appName: "Let's Blog",
      buttonTextLogin: "Login",
      buttonTextRegister: "Register",
      loginWithEmail: false,
      comPadding: 5,
      emailHint: "Email",
      passwordHint: "Password",
      email: "",
      password: "",
      isLoading: false
    };
  },
  methods: {
    toggle() {
      this.loginWithEmail = !this.loginWithEmail;
    },
    onSignInWithEmail() {
      if (!this.email) {
        alert("Email is required");
      } else if (!this.password) {
        alert("Password is required");
      } else {
        this.isLoading = true;
        login({
          type: LoginType.PASSWORD,
          passwordOptions: {
            email: this.email,
            password: this.password
          }
        })
          .then((result: any) => {
            getValue(`/users/${result.uid}`).then(
              user => {
                console.log("Got user:::", user);

                let userObj = JSON.parse(user.value.user);

                Values.writeString(Values.USER, JSON.stringify(userObj));
                if (userObj && userObj.role == "editor") {
                  Constants.IS_ADMIN = true;
                } else {
                  Constants.IS_ADMIN = false;
                }
                this.isLoading = false;
                this.$navigateTo(ListBlogs, { clearHistory: true });
              },
              error => {
                this.isLoading = false;
                alert(error);
                console.log("Error:::", error);
              }
            );
            this.isLoading = false;
          })
          .catch(errorMessage => {
            this.isLoading = false;
            var index = errorMessage.indexOf(":");

            var error =
              index > 0 ? errorMessage.slice(index + 2) : errorMessage;
            alert(error);
            console.log("Error:::", errorMessage);
          });
      }
    },
    register() {
      if (!this.email) {
        alert("Email is required");
      } else if (!this.password) {
        alert("Password is required");
      } else {
        this.isLoading = true;

        createUser({
          email: this.email,
          password: this.password
        }).then(
          (user: any) => {
            console.log("User:::", user);
            user.role = "reader";

            Values.writeString(Values.USER, JSON.stringify(user));

            FirebaseSync.setUser(user).then(
              res => {
                console.log("set user");
                this.isLoading = false;
                this.$navigateTo(ListBlogs, { clearHistory: true });
              },
              error => {
                this.isLoading = false;
                console.log("Error pushing user:::", error);
              }
            );

            Constants.IS_ADMIN = false;
          },
          errorMessage => {
            this.isLoading = false;

            var index = errorMessage.indexOf(":");

            var error =
              index > 0 ? errorMessage.slice(index + 2) : errorMessage;
            alert(error);
            console.log("Error:::", errorMessage);
          }
        );
      }
    },
    onEmailTextChange(args: any) {
      var textField = <TextField>args.object;
      this.email = textField.text;
    },
    onPasswordTextChange(args: any) {
      var textField = <TextField>args.object;
      this.password = textField.text;
    }
  },
  created() {
    init({
      persist: true,
      storageBucket: Constants.STORAGE_BUCKET_PATH,
      iOSEmulatorFlush: true
    });
  }
};
</script>

<style scoped>
.main-container {
  height: 100%;
  background: linear-gradient(#53ba82, #000000);
}

.main-loading-container {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.main-loading {
  color: #53ba82;
  vertical-align: middle;
  horizontal-align: center;
}

.app-logo {
  width: 25%;
  margin-top: 5%;
}

.app-name {
  font-size: 18%;
  color: #f7f7f7;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5%;
}

.btn {
  width: 40%;
  height: 35;
  padding: 0;
  border-radius: 5;
  color: #000000;
  background-color: #f7f7f7;
  font-size: 14%;
  font-weight: 500;
  android-elevation: 5;
  horizontal-align: center;
  margin-top: 10;
}

.btn:active {
  background-color: #53ba82;
  color: #f7f7f7;
}

.input-hint {
  width: 90%;
  font-size: 14%;
  color: #f7f7f7;
}

.input {
  width: 90%;
  height: 35;
  border-width: 1;
  border-color: #eeeeee;
  border-radius: 5;
  color: #53ba82;
  text-align: left;
  background-color: #f7f7f7;
  font-size: 14%;
}
</style>
