<template>
  <Page actionBarHidden="true">
    <GridLayout class="main-container">
      <ScrollView>
        <StackLayout orientation="vertical">
          <GridLayout class="read-content-container" rows="auto,auto,auto,auto,auto,auto,auto">
            <Image
              row="0"
              :height="backIconDimension"
              :width="backIconDimension"
              :marginTop="marginTopDimension"
              :src="backIcon"
              class="back-icon"
              @tap="this.$navigateBack"
            ></Image>
            <Image row="0" :src="appLogo" class="app-logo" :marginTop="marginTopDimension"></Image>
            <Label row="1" :text="appName" class="app-name" :marginBottom="marginBottomDimension"></Label>
            <GridLayout row="2" :width="blogContentDimension" columns="auto,*,auto">
              <Button
                col="0"
                class="back-arrow-button"
                :width="sideDimension"
                :height="sideDimension"
                @tap="onBackArrow()"
              ></Button>
              <Button
                col="1"
                class="blog-name-button"
                :height="sideDimension"
                :text="blogName"
                textWrap="true"
                marginLeft="5"
                marginRight="5"
                @tap="onBlogName()"
              ></Button>
              <Button
                col="2"
                class="next-arrow-button"
                :width="sideDimension"
                :height="sideDimension"
                @tap="onNextArrow()"
              ></Button>
            </GridLayout>
            <Label
              row="3"
              class="blog-title"
              :marginTop="marginTopDimension"
              textWrap="true"
              :text="blogTitle"
            ></Label>
            <Label
              row="4"
              class="blog-author"
              :marginTop="marginTopDimension"
              textWrap="true"
              :text="blogAuthor"
            ></Label>
            <ScrollView
              row="5"
              :marginTop="marginBottomDimension"
              :width="blogContentDimension"
              class="blog-content-container"
            >
              <Label
                class="blog-content"
                :width="blogContentDimension"
                textWrap="true"
                :text="blogContent"
                padding="5"
              ></Label>
            </ScrollView>
            <ImageCacheIt
              v-if="!isImageLoading"
              row="6"
              class="blog-image"
              :marginTop="marginTopDimension"
              :marginBottom="marginBottomDimension"
              :width="blogImageDimension"
              :height="blogImageDimension"
              placeholder="res://add_image"
              errorHolder="res://add_image"
              stretch="aspectFit"
              :src="blogImage"
            ></ImageCacheIt>
            <GridLayout
              v-if="isImageLoading"
              row="6"
              :width="blogImageDimension"
              :height="blogImageDimension"
            >
              <ActivityIndicator :busy="isImageLoading"></ActivityIndicator>
            </GridLayout>
          </GridLayout>
        </StackLayout>
      </ScrollView>
    </GridLayout>
  </Page>
</template>

<script lang="ts">
import ListBlogs from "./ListBlogs.vue";
import AddBlogs from "./AddBlogs.vue";
import { Constants } from "@/shared/constants";
import { JSONFileSystemService } from "@/shared/services/JSONFileSystemService";
import { ScreenDimensions } from "@/shared/ScreenDimensions";
import { ImageSource } from "tns-core-modules/image-source/image-source";

export default {
  props: ["index"],
  data() {
    return {
      listBlog: "List blog",
      addBlog: "Add blog",
      backIcon: "res://back_arrow_white",
      appLogo: "res://logo",
      appName: "Let's Blog",
      blog: {
        author: "blog",
        content: "blog",
        image: "res://icon",
        name: "blog",
        title: "blog"
      },
      blogName: "",
      blogTitle: "",
      blogAuthor: "",
      blogContent: "",
      blogImage: "",
      blogs: [],
      blogLength: 0,
      blogIndex: 0,
      sideDimension: 0,
      blogImageDimension: 0,
      blogContentDimension: 0,
      backIconDimension: 0,
      marginTopDimension: 0,
      marginBottomDimension: 0,
      isImageLoading: false
    };
  },
  methods: {
    onBackArrow() {
      if (this.blogIndex - 1 >= 0) {
        this.blogIndex--;
        this.getDetail();
      } else {
        this.blogIndex = Constants.BLOG_LIST.length - 1;
        this.getDetail();
      }
    },
    onNextArrow() {
      if (this.blogIndex + 1 <= Constants.BLOG_LIST.length - 1) {
        this.blogIndex++;
        this.getDetail();
      } else {
        this.blogIndex = 0;
        this.getDetail();
      }
    },
    onBlogName() {},
    getDetail() {
      this.blogImage = null;
      setTimeout(() => {
        let blog = Constants.BLOG_LIST[this.blogIndex];
        this.blogName = blog.name;
        this.blogTitle = blog.title;
        this.blogAuthor = blog.author;
        this.blogContent = blog.content;
        this.blogImage = blog.image;
      }, 10);
    }
  },
  created() {
    this.sideDimension = ScreenDimensions.getwidth(15);
    this.blogImageDimension = ScreenDimensions.getwidth(90);
    this.blogContentDimension = ScreenDimensions.getwidth(90);
    this.backIconDimension = ScreenDimensions.getwidth(5);
    this.marginTopDimension = ScreenDimensions.getheight(2);
    this.marginBottomDimension = ScreenDimensions.getheight(1);
    this.blogIndex = this.$props.index;
    this.getDetail();
  }
};
</script>

<style scoped>
.main-container {
  height: auto;
  background: linear-gradient(#53ba82, #000000);
}

.read-content-container {
  height: auto;
  width: 100%;
}

.back-icon {
  horizontal-align: left;
  vertical-align: top;
  margin-left: 5%;
}

.app-logo {
  width: 25%;
}

.app-name {
  font-size: 18%;
  color: #f7f7f7;
  font-weight: 500;
  text-align: center;
}

.back-arrow-button {
  background-color: #f7f7f7;
  padding: 0;
  border-radius: 10;
  background-image: url("res://back_arrow");
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-position: center;
  android-elevation: 5;
}
.back-arrow-button:highlighted {
  background-color: #53ba82;
}

.next-arrow-button {
  background-color: #f7f7f7;
  padding: 0;
  border-radius: 10;
  background-image: url("res://next_arrow");
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-position: center;
  android-elevation: 5;
}
.next-arrow-button:highlighted {
  background-color: #53ba82;
}

.blog-name-button {
  background-color: #f7f7f7;
  padding: 0;
  border-radius: 10;
  color: #53ba82;
  font-size: 14%;
  font-weight: 500;
  android-elevation: 5;
}
.blog-name-button:highlighted {
  background-color: #53ba82;
}

.blog-title {
  height: auto;
  width: 90%;
  font-size: 18%;
  color: #f7f7f7;
  font-weight: 500;
  text-align: center;
}

.blog-author {
  height: auto;
  width: 90%;
  font-size: 16%;
  color: #000000;
  font-weight: 500;
  text-align: right;
}

.blog-image {
  border-radius: 10;
}

.blog-content-container {
  height: auto;
  border-width: 1;
  border-color: #f7f7f7;
  border-radius: 10;
}

.blog-content {
  height: auto;
  font-size: 14%;
  color: #f7f7f7;
  font-weight: 500;
  text-align: left;
}
</style>
